<br> <br>
<p><font size="4"><i class="fa fa-newspaper-o"></i> Read It! is a place where you can share links to other websites with your friends. Share your favorite websites, or maybe there was an interesting article you would like your friends to read. Feel free to share it with the world! What ever the situation, your friends will always be up to date on what websites interest you! Sign up to get started or log in.</font></p> <br>


<h2 class="text-center readit"><i class="fa fa-newspaper-o"></i> Links Users are sharing</h2>
<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.username %></small>
    </h2>

  <!-- creating like and dislike buttons for links -->
    <div class="btn-group">
      <a class="btn btn-primary btn-sm" target="_blank" href="<%= link.url %>">Visit URL</a>

    <!-- like a link and display how many likes -->
      <%= link_to like_link_path(link), method: :put, class: "btn btn-success btn-sm" do %>
        <i class="fa fa-thumbs-o-up"></i> Like <%= link.get_upvotes.size %>
      <% end %>

    <!-- dislike a link and display how many dislikes -->
      <%= link_to dislike_link_path(link), method: :put, class: "btn btn-danger btn-sm" do %>
        <i class="fa fa-thumbs-o-down"></i> Dislike <%= link.get_downvotes.size %>
      <% end %>

    </div>
  </div>
<% end %>
